.firstpart>.top{
    padding : 2rem;
    display: flex; 
    
}
html , body{
    margin:0px;
    padding:0px;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
}
.firstpart>.top>.links{
    display: flex;
    column-gap: 40px;
    margin-left:auto;
    
}

.firstpart>.bottom{
    display: flex;
    padding: 2rem;
    justify-content: space-around;
    flex-wrap: wrap;
}
.firstpart>.bottom>.textpart{
    min-width: 150px;
    max-width: 500px;
}
.firstpart{
    color: aliceblue;
    background-color: rgb(33, 33, 35);
}
h2{
    display: inline;
}
p{
    text-align: justify;
}
.mylogo>img{
    border-radius: 50%;
   
}
.firstpart>.bottom>.textpart>p{
    font-size: 18px;
    min-width: 360px;
}
h1{
    font-size: 48px;
}
.image{
    margin:20px 20px 20px 20px;
    border-radius: .5rem;
    width: 40vw;
    min-width: 280px;
    max-width: 500px;
}
.signup{
   
   height: 2rem;
    font-size: larger;
}
.firstpart>.bottom>.textpart>p{
    margin-bottom: 4rem;
}
.secondpart>h2{
    padding: 1rem;
    font-size: 32px;
    color:#1F2937;
    display: block;
    text-align: center;
}
.info{
    padding:2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.info>div>p{
    width: 200px;
    text-align: center;
    color:#6a6b6d;
}
.info>div>img{
   border-radius:1rem
}
.thirdpart{
    background-color:#E5E7EB ;
    padding:2rem 15% 2rem 15% ;
    font-size: 30px;
    color: #1F2937;
    font-style: italic;
    
}
.thirdpart>.quote>p{
    text-align:left;
}
.thirdpart>.by>p{
    font-style: normal;
    font-weight: bolder;
    font-size: large;
    text-align: end;
}
.signup>button{
    font-size: 15px;
    white-space: nowrap;
    background-color: #3882F6;
    color:#E5E7EB;
    border-color: #E5E7EB;
    margin-left:10px;
}
.forthpart{
    display:flex;
    background-color: #3882F6;
    padding: 1rem 2rem 1rem 2rem;
    width: fit-content;
    border-radius: .5rem;
    align-items: center;
    margin:2rem auto 2rem auto;
}
.forthpart>.text{
    color:#d0d3d8;
    font-size: smaller;
}
.copyright{
    background-color: #1F2937;
    color:#E5E7EB;
    padding: 1%;
}
.copyright>p{
    text-align: center;
}
a{
    color:#E5E7EB;
    text-decoration: none;
}
a:visited{
   color: #d1d7e3;
}