.firstpart>.top{
    padding : 2rem;
    display: flex; 
}
.firstpart>.top>.links{
    display: flex;
    column-gap: 7px;
    margin-left:auto;
}

.firstpart>.bottom{
    display: flex;
    padding: 2rem;
}
.firstpart{
    color: aliceblue;
    background-color: rgb(33, 33, 35);
}
h2{
    display: inline;
}
p{
    text-align: justify;
}
.mylogo>img{
    border-radius: 50%;
   
}
.firstpart>.bottom>.textpart>p{
    font-size: 18px;
}
h1{
    font-size: 48px;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
body{
   margin: 0 0 0 0;
   width:100%;
}
.image{
    margin:20px 20px 20px 20px;
    border-radius: .5rem;
    width: 40vw;
    min-width: 280px;
    max-width: 500px;
}
.signup{
   
   height: 2rem;
    font-size: larger;
}
.firstpart>.bottom>.textpart>p{
    margin-bottom: 4rem;
}
.secondpart>h2{
    padding: 1rem;
    font-size: 32px;
    color:#1F2937;
    display: block;
    text-align: center;
}
.info{
    padding:2rem;
    display: flex;
    justify-content: space-around;
}
.info>div>p{
    width: 200px;
    text-align: center;
    color:#6a6b6d;
}
.info>div>img{
   border-radius:1rem
}
.thirdpart{
    background-color:#E5E7EB ;
    padding:2rem 15% 2rem 15% ;
    font-size: 30px;
    color: #1F2937;
    font-style: italic;
    
}
.thirdpart>.quote>p{
    text-align:left;
}
.thirdpart>.by>p{
    font-style: normal;
    font-weight: bolder;
    font-size: large;
    text-align: end;
}
.forthpart{
    display:flex;
    margin: 2rem 10% 2rem 10%;
    background-color: #3882F6;
    color:#E5E7EB;
    padding: 1rem 10% 1rem 10%;
    border-radius: .5rem;
    justify-content: space-between;
}
.forthpart>.signup{
    align-self: center;
}
.signup>button{
    font-size: 15px;
}
h4{
    font-size: 20px;
}
.forthpart>.text>p{
    color:#d0d3d8;
}
.copyright{
    background-color: #1F2937;
    color:#E5E7EB;
    padding: 3%;
}
.copyright>p{
    text-align: center;
}